:root{
    --main-border-color: rgb(99, 95, 95);
}

.scene{
    display: flex;
    justify-content: center;
}



.game{
    border: 16px ridge var(--main-border-color);
    border-radius: 11px;;
}

.gra{
    width: 600px;
    height: 900px;
    margin: auto;
    background-color: black;
}

html {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
}